* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url("https://images.unsplash.com/photo-1637266702921-a2eae66c7f9d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1528&q=80");
  background-position: center center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

h1 {
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 4rem;
}

.container {
  display: flex;
}

.text {
  font-size: 6rem;
  line-height: 1;
  margin: 0 2rem;
}
.elements {
  text-align: center;
}
.elements span {
  font-size: 1.5rem;
}
